@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #f3c649 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #f3c649 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #f3c649;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #000000;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #000000;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #000000;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header1-1 .mbr-section-lead {
  font-family: 'Raleway', sans-serif;
}
#header1-1 .mbr-section-title SPAN {
  font-family: 'Droid Serif', serif;
}
#msg-box8-g .mbr-section-title,
#msg-box8-g p {
  color: #fff;
}
#social-buttons4-1c .mbr-section-title,
#social-buttons4-1c .btn-social {
  color: #fff;
}
#social-buttons4-1c .mbr-section-title {
  color: #000000;
}
#contacts4-8 .btn {
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-i .navbar-caption {
  color: #ffffff;
}
#ext_menu-i .navbar-toggler {
  color: #000000;
}
#ext_menu-i .close-icon::before,
#ext_menu-i .close-icon::after {
  background-color: #000000;
}
#ext_menu-i .link,
#ext_menu-i .dropdown-item {
  color: #000000;
}
#ext_menu-i .link {
  font-size: 0.75rem;
}
#ext_menu-i .dropdown-item,
#ext_menu-i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-i .link:hover,
#ext_menu-i .dropdown-item:hover,
#ext_menu-i .link:focus,
#ext_menu-i .dropdown-item:focus {
  color: #000000;
}
#ext_menu-i .link[aria-expanded="true"],
#ext_menu-i .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-i .nav-dropdown-sm .link:focus,
#ext_menu-i .nav-dropdown-sm .link:hover,
#ext_menu-i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-i .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-i .navbar,
#ext_menu-i .nav-dropdown-sm,
#ext_menu-i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-i .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-i .bg-color.transparent.opened .link:hover,
#ext_menu-i .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-i .link[aria-expanded="true"],
#ext_menu-i .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-p .navbar-caption {
  color: #ffffff;
}
#ext_menu-p .navbar-toggler {
  color: #000000;
}
#ext_menu-p .close-icon::before,
#ext_menu-p .close-icon::after {
  background-color: #000000;
}
#ext_menu-p .link,
#ext_menu-p .dropdown-item {
  color: #000000;
}
#ext_menu-p .link {
  font-size: 0.75rem;
}
#ext_menu-p .dropdown-item,
#ext_menu-p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-p .link:hover,
#ext_menu-p .dropdown-item:hover,
#ext_menu-p .link:focus,
#ext_menu-p .dropdown-item:focus {
  color: #000000;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-p .nav-dropdown-sm .link:focus,
#ext_menu-p .nav-dropdown-sm .link:hover,
#ext_menu-p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-p .navbar,
#ext_menu-p .nav-dropdown-sm,
#ext_menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-p .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-p .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-p .bg-color.transparent.opened .link:hover,
#ext_menu-p .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-v .navbar-caption {
  color: #ffffff;
}
#ext_menu-v .navbar-toggler {
  color: #ffffff;
}
#ext_menu-v .close-icon::before,
#ext_menu-v .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-v .link,
#ext_menu-v .dropdown-item {
  color: #ffffff;
}
#ext_menu-v .link {
  font-size: 0.75rem;
}
#ext_menu-v .dropdown-item,
#ext_menu-v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-v .link:hover,
#ext_menu-v .dropdown-item:hover,
#ext_menu-v .link:focus,
#ext_menu-v .dropdown-item:focus {
  color: #000000;
}
#ext_menu-v .link[aria-expanded="true"],
#ext_menu-v .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-v .nav-dropdown-sm .link:focus,
#ext_menu-v .nav-dropdown-sm .link:hover,
#ext_menu-v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-v .navbar,
#ext_menu-v .nav-dropdown-sm,
#ext_menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-v .bg-color.transparent.opened .link:hover,
#ext_menu-v .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-v .link[aria-expanded="true"],
#ext_menu-v .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #000000;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #000000;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #000000;
}
#ext_menu-x .link {
  font-size: 0.75rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #000000;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-z .navbar-caption {
  color: #ffffff;
}
#ext_menu-z .navbar-toggler {
  color: #000000;
}
#ext_menu-z .close-icon::before,
#ext_menu-z .close-icon::after {
  background-color: #000000;
}
#ext_menu-z .link,
#ext_menu-z .dropdown-item {
  color: #000000;
}
#ext_menu-z .link {
  font-size: 0.75rem;
}
#ext_menu-z .dropdown-item,
#ext_menu-z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-z .link:hover,
#ext_menu-z .dropdown-item:hover,
#ext_menu-z .link:focus,
#ext_menu-z .dropdown-item:focus {
  color: #000000;
}
#ext_menu-z .link[aria-expanded="true"],
#ext_menu-z .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-z .nav-dropdown-sm .link:focus,
#ext_menu-z .nav-dropdown-sm .link:hover,
#ext_menu-z .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-z .navbar,
#ext_menu-z .nav-dropdown-sm,
#ext_menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-z .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-z .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-z .bg-color.transparent.opened .link:hover,
#ext_menu-z .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-z .link[aria-expanded="true"],
#ext_menu-z .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-13 .navbar-caption {
  color: #ffffff;
}
#ext_menu-13 .navbar-toggler {
  color: #000000;
}
#ext_menu-13 .close-icon::before,
#ext_menu-13 .close-icon::after {
  background-color: #000000;
}
#ext_menu-13 .link,
#ext_menu-13 .dropdown-item {
  color: #000000;
}
#ext_menu-13 .link {
  font-size: 0.75rem;
}
#ext_menu-13 .dropdown-item,
#ext_menu-13 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-13 .link:hover,
#ext_menu-13 .dropdown-item:hover,
#ext_menu-13 .link:focus,
#ext_menu-13 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-13 .nav-dropdown-sm .link:focus,
#ext_menu-13 .nav-dropdown-sm .link:hover,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-13 .navbar,
#ext_menu-13 .nav-dropdown-sm,
#ext_menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-13 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-13 .bg-color.transparent.opened .link:hover,
#ext_menu-13 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header2-15 .mbr-section-title {
  text-align: left;
}
#header3-16 .mbr-section-title,
#header3-16 .mbr-section-subtitle {
  text-align: center;
}
#msg-box6-19 .mbr-section-title,
#msg-box6-19 .lead p {
  color: #fff;
}
#ext_menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1d .navbar-caption {
  color: #ffffff;
}
#ext_menu-1d .navbar-toggler {
  color: #000000;
}
#ext_menu-1d .close-icon::before,
#ext_menu-1d .close-icon::after {
  background-color: #000000;
}
#ext_menu-1d .link,
#ext_menu-1d .dropdown-item {
  color: #000000;
}
#ext_menu-1d .link {
  font-size: 0.75rem;
}
#ext_menu-1d .dropdown-item,
#ext_menu-1d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1d .link:hover,
#ext_menu-1d .dropdown-item:hover,
#ext_menu-1d .link:focus,
#ext_menu-1d .dropdown-item:focus {
  color: #000000;
}
#ext_menu-1d .link[aria-expanded="true"],
#ext_menu-1d .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-1d .nav-dropdown-sm .link:focus,
#ext_menu-1d .nav-dropdown-sm .link:hover,
#ext_menu-1d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-1d .navbar,
#ext_menu-1d .nav-dropdown-sm,
#ext_menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-1d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1d .bg-color.transparent.opened .link:hover,
#ext_menu-1d .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-1d .link[aria-expanded="true"],
#ext_menu-1d .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#msg-box4-1h H3 {
  color: #000000;
}
#ext_menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1x .navbar-caption {
  color: #ffffff;
}
#ext_menu-1x .navbar-toggler {
  color: #000000;
}
#ext_menu-1x .close-icon::before,
#ext_menu-1x .close-icon::after {
  background-color: #000000;
}
#ext_menu-1x .link,
#ext_menu-1x .dropdown-item {
  color: #000000;
}
#ext_menu-1x .link {
  font-size: 0.75rem;
}
#ext_menu-1x .dropdown-item,
#ext_menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1x .link:hover,
#ext_menu-1x .dropdown-item:hover,
#ext_menu-1x .link:focus,
#ext_menu-1x .dropdown-item:focus {
  color: #000000;
}
#ext_menu-1x .link[aria-expanded="true"],
#ext_menu-1x .dropdown-menu {
  background: #a8a8a8;
}
#ext_menu-1x .nav-dropdown-sm .link:focus,
#ext_menu-1x .nav-dropdown-sm .link:hover,
#ext_menu-1x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#ext_menu-1x .navbar,
#ext_menu-1x .nav-dropdown-sm,
#ext_menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#ext_menu-1x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1x .bg-color.transparent.opened .link:hover,
#ext_menu-1x .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-1x .link[aria-expanded="true"],
#ext_menu-1x .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#msg-box7-1z .mbr-section-title,
#msg-box7-1z .lead p {
  color: #fff;
}
